beautifulsoup4
certifi
chardet
Click
cssselect
feedfinder2
feedparser
Flask
Flask-Cors
idna
itsdangerous
jieba3k
Jinja2
lxml
MarkupSafe
newspaper3k
nltk
oauthlib
Pillow
python-dateutil
PyYAML
requests
requests-file
requests-oauthlib
singledispatch
six
soupsieve
tinysegmenter
tldextract
tqdm
twython
urllib3
Werkzeug
